body{
    background-image: url(https://wallpaperaccess.com/full/1217368.jpg);
    background-size: contain;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}